<!DOCTYPE html>
<html>
  <head>
    <title>ConcertChallengeHowFast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="concerts-header"><h2>Concerts!</h2></div>
  	<div id="directory">
  		<h2>
  		Login | 
  		Signup | 
  		<a href="/">Home</a>
  		</h2>
  	</div>
  	<br>
  	<br>
  	<br>
    <%= yield %>
  </body>
</html>
